<div>

  <button (click)="otvorMenu(menu.OSOBY)">Osoby</button>
  <button (click)="otvorMenu(menu.KNIHY)">Knihy</button>
  <button (click)="otvorMenu(menu.VYPOZICKY)">Vypozicky</button>

  <router-outlet></router-outlet>

  <app-prvastranka></app-prvastranka>

  <div *ngIf="aktualne == menu.KNIHY">
    <h1>Osoby</h1>
    id:
    <input [(ngModel)]="osoba.id"><br>
    meno:
    <input [(ngModel)]="osoba.meno"><br>
    kontakt:
    <input [(ngModel)]="osoba.kontakt"><br>
    <br>
    <button (click)="pridajOsobu()">Pridaj</button><br><br>
    Zoznam:<br>
    <div *ngFor="let o of osoby">
      {{o.id}} {{o.meno}} {{o.kontakt}}
    </div>
  </div>

  <div *ngIf="aktualne == menu.VYPOZICKY">
    <h1>Vypozicky</h1>
    id:
    <input [(ngModel)]="vypozicka.id"><br>
    kniha:
    <input [(ngModel)]="vypozicka.kniha"><br>
    osoba:
    <input [(ngModel)]="vypozicka.osoba"><br>
    <br>
    <button (click)="pridajVypozicku()">Pridaj</button><br><br>
    Zoznam:<br>
    <div *ngFor="let v of vypozicky">
      {{v.id}} {{v.kniha}} {{v.osoba}}
    </div>
  </div>
</div>
